/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);

@import
	url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300)
	;

body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	background-image: url('../images/business-charts-commerce.jpg');
	background-size: cover;
	z-index: 0;
	opacity:0.8;
}

.grad {
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
	/* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header {
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div {
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span {
	color: #5379fa !important;
}

.login {
	position: absolute !important;
	top: 35% !important;
	left: 48% !important;
	height: 160px;
	width: 360px;
	z-index: 2;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: -80px !important;
    margin-left: -160px !important;
}

.userLogin {
	width: 250px;
	height: 40px;
	background: transparent;
	border:none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
}

.passwordLogin {
	width: 250px;
	height: 40px;
	background: transparent;
	border:none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
	margin-top: 15px;
}

.buttonLogin {
	width: 260px;
	height: 35px;
	background-color: #ff851b;
	border: none;
	cursor: pointer;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 25px;
}

.buttonLogin:hover {
	opacity: 0.8;
}

.buttonLogin:active {
	opacity: 0.6;
}

.userLogin:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.passwordLogin:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.header-text{
	width: 250px;
	height: 30px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.buttonLogin:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}